@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    2nd Floor<br />
    St. Clare House<br />
    30-33 Minories<br />
    London<br />
    EC3N 1DD<br />

    <abbr title="Phone">P:</abbr>
    020 7426 9835
</address>
